/* ALL */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-res{
    width:100%
 }
 .img-curve{
     border-radius: 15px;
 }
 .img-icon{
     width: 30px;
     padding: 3.5px;
 }

a{
    color: red;
    text-decoration: none;
}

a:hover{
    color: rgb(150, 233, 150)
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary{
    background-color: #e5383b;
    color: white;
    cursor: pointer;
}
 
.btn-primary:hover{
    color: black;
    background-color: #fcd5ce;
}
h2{
    color: rgb(44, 48, 54);
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 15px;
    left: 40%;
}

.clearfix{
    clear: both;
    float: none;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-white{
    color: white;
}
.text-last{
    font-size: 1.2rem;
    margin-top: 2%;
}


/* HEADER */
.logo{
    width: 10%;
    float: left;
}

.menu{
    line-height: 60px;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* FOOD SEARCH */
.food-search{
    background-image: url("images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.food-search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
}

/* FOOD MENU */
.food-menu{
    background-color: rgb(228, 228, 228);
    padding: 4%;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}
.food-menu-img{
    width: 20%;
    float: left;
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food.price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: darkgray;
}

/* FOOTER */
.footer{
    font-size: 20px;
    padding: 0 0;
    margin: 0 auto;
}
.icon{
    list-style: 10px;
    line-height: 30px;
}
.img-icon{
    width: 35px;
    padding: 1.5%;
}
